body{
  margin: 0;
  padding: 0;
  background-color: darkgray;
}
.app{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.desktop{
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0%;
  z-index: -1;
}
.logo{
  color: white;
  font-size: 2.5rem;
  letter-spacing: 15px;
  font-weight: bold;
  text-align: center;
}
.todo-list{
  width: 539px;
  margin-left: 40px;
  margin-right: 40px;
}
.icon{
  width: 26px;
  height: 26px;
}
.todo-maker{
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  color: var(--Light-Grayish-Blue);
  width: 100%;
  box-sizing: border-box;
  padding: 19px 50px;
  border: none;
  outline: none;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 40px;
}
.circle{
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid;
  border-color: darkgray;
}
.circle.active{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.line{
  height: 2px;
  background-color: darkgray;
}
.todos{
  width: 100%;
  max-height: 318px;
  overflow-x: hidden;
  overflow-y: auto; 
  scrollbar-width: thin;
  box-sizing: content-box;
  background-color: white;
}
.todo{
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
}
.todo-info{
  box-sizing: border-box;
  padding: 19px;
  color: darkgray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  height: 49px;
}
.info-middle{
  display: flex;
  flex-direction: row;
}
.info-middle:last-child{
  margin-left: 10px;
}
.filter{
  margin-left: 15px;
}
.filter, .clear{
  cursor: pointer;
  transition: transform 0.3s ease;
}
.filter:hover, .clear:hover{
  transform: scale(1.3);
}
.filter :last-child{
  margin-left: 0px;
}
.filter.active{
  color: rgb(51, 51, 255);
}
@media (max-width:320px){
  .todo-list{
    width: 239px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .filter, .length{
    margin-bottom: 10px;
  }
  .todo-maker{
    font-size: 12px;
  }
  .todo-info{
    flex-direction: column;
    height: unset;
  }
  .info-middle{
    flex-direction: column;
    text-align: center;
  }
}